@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Montserrat&display=swap');

body {
    background-color: #31572C;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

.light-h2 {
    color: white;
}

nav a {
    color: #01161E;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}

header {
    background-color: #C6B38E;
}

nav a:hover {
    background-color: #01161E;
    color: #C6B38E;
}

.home-title {
    color: white;
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: white;
}

.book, .join{
    background-color: rgba(198, 179, 142, .7);
    color: #01161E;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    border: 2px black solid;
}

.book:hover, .join:hover {
    background-color: rgba(107, 15, 26, .5);
}

#background {
    background-color: #6B0F1A;
}

.msg {
    background-color:#C6B38E;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color:#01161E;
    font-family: 'Inclusive Sans', sans-serif;
}

msg p {
    color:#01161E;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color:#C6B38E;
    color:#01161E;
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color:#01161E;
    text-decoration: none;
}

footer a:hover {
    background-color:#01161E;
    color:#C6B38E;
}

footer p {
    font-size: 1.2em;

}

footer .social img {
    padding-top: 15px;
}

footer p a:hover {
    text-decoration: underline;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
}

#logo_link {
    padding-top: 5px;
}

.logo {
    width: 80px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
}